<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary m-1"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  (click)="addClick()"
>
  Add Department
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1" 
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dailog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- hello -->
        <app-add-edit-dep [dep]="dep" *ngIf="ActivateAddEditDepComp"></app-add-edit-dep>
      </div>
      
    </div>
  </div>
</div>

<table class="table m-3">
  <thead>
    <tr>
      <th>DepartmentID</th>
      <th>Department Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of DepartmentList">
      <td>{{ item.DepartmentId }}</td>
      <td>{{ item.DepartmentName }}</td>
      <td>
        <button class="btn btn-info m-2"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            (click)="editClick(item)"
            
        >Edit</button>
        
        <button class="btn btn-danger m-2"
        (click)="deleteClick(item)"
        >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
